In [282]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [283]:
df=pd.read_csv('Final_data.csv')
df.head()

,Unnamed: 0,week_of_outbreak,state_ut,district,Disease,Cases,Deaths,day,mon,year,Latitude,Longitude,preci,LAI,Temp
0,0,1st week,Meghalaya,East Jaintia Hills,Acute Diarrhoeal Disease,160,NaN,2,1,2022,25.251576,92.484050,0.020354,34.5,291.533333
1,1,2nd week,Maharashtra,Gadchiroli,Malaria,7,2.0,10,1,2022,19.759070,80.162281,0.007479,9.0,299.970000
2,2,3rd week,Tamil Nadu,Pudukottai,Acute Diarrhoeal Disease,8,NaN,18,1,2022,10.382651,78.819126,0.107413,12.0,300.766667
3,3,3rd week,Gujarat,Patan,Acute Diarrhoeal Disease,7,NaN,11,1,2022,23.774057,71.683735,0.065094,9.0,299.080000
4,4,3rd week,Kerala,Ernakulam,Acute Diarrhoeal Disease,14,NaN,24,12,2021,9.984080,76.274146,0.041256,33.0,303.028000

In [284]:
df['Deaths'] = df['Deaths'].map(lambda x: 0 if pd.isna(x) else x)
df.head()

,Unnamed: 0,week_of_outbreak,state_ut,district,Disease,Cases,Deaths,day,mon,year,Latitude,Longitude,preci,LAI,Temp
0,0,1st week,Meghalaya,East Jaintia Hills,Acute Diarrhoeal Disease,160,0.0,2,1,2022,25.251576,92.484050,0.020354,34.5,291.533333
1,1,2nd week,Maharashtra,Gadchiroli,Malaria,7,2.0,10,1,2022,19.759070,80.162281,0.007479,9.0,299.970000
2,2,3rd week,Tamil Nadu,Pudukottai,Acute Diarrhoeal Disease,8,0.0,18,1,2022,10.382651,78.819126,0.107413,12.0,300.766667
3,3,3rd week,Gujarat,Patan,Acute Diarrhoeal Disease,7,0.0,11,1,2022,23.774057,71.683735,0.065094,9.0,299.080000
4,4,3rd week,Kerala,Ernakulam,Acute Diarrhoeal Disease,14,0.0,24,12,2021,9.984080,76.274146,0.041256,33.0,303.028000

In [285]:
df['Cases'] = pd.to_numeric(df['Cases'], errors='coerce')  # converts invalid strings to NaN

In [286]:
df['preci'] = df.groupby('district')['preci'].transform(lambda x: x.fillna(x.median()))
df['LAI'] = df.groupby('district')['LAI'].transform(lambda x: x.fillna(x.median()))
df['Temp'] = df.groupby('district')['Temp'].transform(lambda x: x.fillna(x.median()))

c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\bguna\anaconda3\envs\py310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [287]:
df['preci'] = df['preci'].fillna(df['preci'].median())
df['LAI'] = df['LAI'].fillna(df['LAI'].median())
df['Temp'] = df['Temp'].fillna(df['Temp'].median())

In [288]:
df.head()

,Unnamed: 0,week_of_outbreak,state_ut,district,Disease,Cases,Deaths,day,mon,year,Latitude,Longitude,preci,LAI,Temp
0,0,1st week,Meghalaya,East Jaintia Hills,Acute Diarrhoeal Disease,160.0,0.0,2,1,2022,25.251576,92.484050,0.020354,34.5,291.533333
1,1,2nd week,Maharashtra,Gadchiroli,Malaria,7.0,2.0,10,1,2022,19.759070,80.162281,0.007479,9.0,299.970000
2,2,3rd week,Tamil Nadu,Pudukottai,Acute Diarrhoeal Disease,8.0,0.0,18,1,2022,10.382651,78.819126,0.107413,12.0,300.766667
3,3,3rd week,Gujarat,Patan,Acute Diarrhoeal Disease,7.0,0.0,11,1,2022,23.774057,71.683735,0.065094,9.0,299.080000
4,4,3rd week,Kerala,Ernakulam,Acute Diarrhoeal Disease,14.0,0.0,24,12,2021,9.984080,76.274146,0.041256,33.0,303.028000

In [289]:
columns_drop=['Unnamed: 0','day','Latitude','Longitude']

In [290]:
df.drop(columns=columns_drop,axis=0,inplace=True)

In [291]:
df1=df.copy()
df1.head()

,week_of_outbreak,state_ut,district,Disease,Cases,Deaths,mon,year,preci,LAI,Temp
0,1st week,Meghalaya,East Jaintia Hills,Acute Diarrhoeal Disease,160.0,0.0,1,2022,0.020354,34.5,291.533333
1,2nd week,Maharashtra,Gadchiroli,Malaria,7.0,2.0,1,2022,0.007479,9.0,299.970000
2,3rd week,Tamil Nadu,Pudukottai,Acute Diarrhoeal Disease,8.0,0.0,1,2022,0.107413,12.0,300.766667
3,3rd week,Gujarat,Patan,Acute Diarrhoeal Disease,7.0,0.0,1,2022,0.065094,9.0,299.080000
4,3rd week,Kerala,Ernakulam,Acute Diarrhoeal Disease,14.0,0.0,12,2021,0.041256,33.0,303.028000

In [292]:
df1.isnull().sum()

week_of_outbreak    0
state_ut            0
district            0
Disease             0
Cases               1
Deaths              0
mon                 0
year                0
preci               0
LAI                 0
Temp                0
dtype: int64

In [293]:
df1.dropna(inplace=True)

In [294]:
df.drop(columns=['Disease'],axis=1,inplace=True)

In [295]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import pickle

In [296]:
ordinal=OrdinalEncoder()
label=LabelEncoder()
scaler=StandardScaler()

In [297]:
ordinal_cols = ['week_of_outbreak']
label_cols = ['district']
ohe_cols = ['state_ut']

# --- Step 2: Handle LabelEncoder separately (since it doesn't fit directly in ColumnTransformer) ---
label_encoder = LabelEncoder()
df['district_encoded'] = label_encoder.fit_transform(df['district'])

# Replace the original 'district' column
df = df.drop(columns=['district'])
df['district'] = df['district_encoded']
df = df.drop(columns=['district_encoded'])

# --- Step 3: Define sub-pipelines for the remaining encoders ---
ordinal_pipeline = Pipeline(steps=[
    ('ordinal', OrdinalEncoder())
])

ohe_pipeline = Pipeline(steps=[
    ('ohe', OneHotEncoder(sparse_output=False, drop='first'))
])

# --- Step 4: Combine everything in a ColumnTransformer ---
preprocessor = ColumnTransformer(
    transformers=[
        ('ordinal', ordinal_pipeline, ordinal_cols),
        ('ohe', ohe_pipeline, ohe_cols)
    ],
    remainder='passthrough'  # Keeps all other columns as they are
)

# --- Step 5: Fit the preprocessor on the data ---
preprocessor.fit(df)

# --- Step 6: Save both preprocessor and label encoder ---
with open("preprocessing_pipeline.pkl", "wb") as f:
    pickle.dump(preprocessor, f)

with open("label_encoder_district.pkl", "wb") as f:
    pickle.dump(label_encoder, f)

print("✅ Preprocessing pipeline and label encoder saved successfully!")

✅ Preprocessing pipeline and label encoder saved successfully!

In [298]:
df.head()

,week_of_outbreak,state_ut,Cases,Deaths,mon,year,preci,LAI,Temp,district
0,1st week,Meghalaya,160.0,0.0,1,2022,0.020354,34.5,291.533333,215
1,2nd week,Maharashtra,7.0,2.0,1,2022,0.007479,9.0,299.970000,232
2,3rd week,Tamil Nadu,8.0,0.0,1,2022,0.107413,12.0,300.766667,546
3,3rd week,Gujarat,7.0,0.0,1,2022,0.065094,9.0,299.080000,528
4,3rd week,Kerala,14.0,0.0,12,2021,0.041256,33.0,303.028000,221

In [299]:
df['week_of_outbreak'] = ordinal.fit_transform(df[['week_of_outbreak']])
df['district'] = label.fit_transform(df['district'])
ohe = OneHotEncoder(sparse_output=False, drop='first')  # drop='first' to avoid dummy variable trap
state_encoded = ohe.fit_transform(df[['state_ut']])
state_encoded_df = pd.DataFrame(state_encoded, columns=ohe.get_feature_names_out(['state_ut']))
# Concatenate and drop original column
df = pd.concat([df.drop(columns=['state_ut']), state_encoded_df], axis=1)

In [300]:
df.head()

,week_of_outbreak,Cases,Deaths,mon,year,preci,LAI,Temp,district,state_ut_Andhra Pradesh,...,state_ut_Puducherry,state_ut_Punjab,state_ut_Rajasthan,state_ut_Sikkim,state_ut_Tamil Nadu,state_ut_Telangana,state_ut_Tripura,state_ut_Uttar Pradesh,state_ut_Uttarakhand,state_ut_West Bengal
0,10.0,160.0,0.0,1,2022,0.020354,34.5,291.533333,215,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,21.0,7.0,2.0,1,2022,0.007479,9.0,299.970000,232,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,32.0,8.0,0.0,1,2022,0.107413,12.0,300.766667,546,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,32.0,7.0,0.0,1,2022,0.065094,9.0,299.080000,528,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,32.0,14.0,0.0,12,2021,0.041256,33.0,303.028000,221,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [301]:
df.dropna(inplace=True)

In [302]:
ylabel=LabelEncoder()
y_encoded = ylabel.fit_transform(df1['Disease'])

In [303]:
pickle.dump(ylabel,open('label_encoder_disease.pkl','wb'))

In [304]:
from sklearn.model_selection import train_test_split

In [305]:
df.head()

,week_of_outbreak,Cases,Deaths,mon,year,preci,LAI,Temp,district,state_ut_Andhra Pradesh,...,state_ut_Puducherry,state_ut_Punjab,state_ut_Rajasthan,state_ut_Sikkim,state_ut_Tamil Nadu,state_ut_Telangana,state_ut_Tripura,state_ut_Uttar Pradesh,state_ut_Uttarakhand,state_ut_West Bengal
0,10.0,160.0,0.0,1,2022,0.020354,34.5,291.533333,215,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,21.0,7.0,2.0,1,2022,0.007479,9.0,299.970000,232,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,32.0,8.0,0.0,1,2022,0.107413,12.0,300.766667,546,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,32.0,7.0,0.0,1,2022,0.065094,9.0,299.080000,528,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,32.0,14.0,0.0,12,2021,0.041256,33.0,303.028000,221,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [306]:
X=df
y=y_encoded

In [307]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [308]:
X_train.head()

,week_of_outbreak,Cases,Deaths,mon,year,preci,LAI,Temp,district,state_ut_Andhra Pradesh,...,state_ut_Puducherry,state_ut_Punjab,state_ut_Rajasthan,state_ut_Sikkim,state_ut_Tamil Nadu,state_ut_Telangana,state_ut_Tripura,state_ut_Uttar Pradesh,state_ut_Uttarakhand,state_ut_West Bengal
87,9.0,13.0,0.0,5,2022,0.449458,9.0,303.580000,722,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3393,26.0,38.0,0.0,8,2016,0.001497,9.0,307.250000,327,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2884,12.0,47.0,0.0,5,2016,0.000450,2.0,321.336667,292,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
401,27.0,23.0,0.0,6,2021,1.023137,8.0,304.635000,548,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2465,31.0,25.0,0.0,9,2017,0.706795,19.0,301.120000,39,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [309]:
df.isnull().sum()

week_of_outbreak                   0
Cases                              0
Deaths                             0
mon                                0
year                               0
preci                              0
LAI                                0
Temp                               0
district                           0
state_ut_Andhra Pradesh            0
state_ut_Arunachal Pradesh         0
state_ut_Assam                     0
state_ut_Bihar                     0
state_ut_Chandigarh                0
state_ut_Chhattisgarh              0
state_ut_Dadra and Nagar Haveli    0
state_ut_Daman and Diu             0
state_ut_Delhi                     0
state_ut_Goa                       0
state_ut_Gujarat                   0
state_ut_Haryana                   0
state_ut_Himachal Pradesh          0
state_ut_Jammu and Kashmir         0
state_ut_Jharkhand                 0
state_ut_Karnataka                 0
state_ut_Kerala                    0
state_ut_Lakshadweep               0
state_ut_Madhya Pradesh            0
state_ut_Maharashtra               0
state_ut_Manipur                   0
state_ut_Meghalaya                 0
state_ut_Mizoram                   0
state_ut_Nagaland                  0
state_ut_Odisha                    0
state_ut_Puducherry                0
state_ut_Punjab                    0
state_ut_Rajasthan                 0
state_ut_Sikkim                    0
state_ut_Tamil Nadu                0
state_ut_Telangana                 0
state_ut_Tripura                   0
state_ut_Uttar Pradesh             0
state_ut_Uttarakhand               0
state_ut_West Bengal               0
dtype: int64

In [310]:
y_train

array([ 0,  7,  0, ...,  0, 15,  0])

In [311]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
model = RandomForestClassifier(n_estimators=100, random_state=42)
model=RandomForestClassifier()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
y_pred_proba=model.predict_proba(X_test)
accuracy=accuracy_score(y_test,y_pred)
print(f'Accuracy: {accuracy}%')
print(y_pred_proba)

Accuracy: 0.6878130217028381%
[[0.77 0.03 0.   ... 0.   0.   0.  ]
 [0.93 0.   0.   ... 0.   0.   0.  ]
 [0.89 0.   0.   ... 0.   0.   0.  ]
 ...
 [0.82 0.   0.01 ... 0.   0.   0.  ]
 [0.5  0.01 0.   ... 0.   0.   0.  ]
 [0.4  0.   0.   ... 0.   0.   0.  ]]

In [312]:
pickle.dump(model, open('disease_outbreak_model.pkl', 'wb'))

In [313]:
print(df.dtypes)

week_of_outbreak                   float64
Cases                              float64
Deaths                             float64
mon                                  int64
year                                 int64
preci                              float64
LAI                                float64
Temp                               float64
district                             int64
state_ut_Andhra Pradesh            float64
state_ut_Arunachal Pradesh         float64
state_ut_Assam                     float64
state_ut_Bihar                     float64
state_ut_Chandigarh                float64
state_ut_Chhattisgarh              float64
state_ut_Dadra and Nagar Haveli    float64
state_ut_Daman and Diu             float64
state_ut_Delhi                     float64
state_ut_Goa                       float64
state_ut_Gujarat                   float64
state_ut_Haryana                   float64
state_ut_Himachal Pradesh          float64
state_ut_Jammu and Kashmir         float64
state_ut_Jharkhand                 float64
state_ut_Karnataka                 float64
state_ut_Kerala                    float64
state_ut_Lakshadweep               float64
state_ut_Madhya Pradesh            float64
state_ut_Maharashtra               float64
state_ut_Manipur                   float64
state_ut_Meghalaya                 float64
state_ut_Mizoram                   float64
state_ut_Nagaland                  float64
state_ut_Odisha                    float64
state_ut_Puducherry                float64
state_ut_Punjab                    float64
state_ut_Rajasthan                 float64
state_ut_Sikkim                    float64
state_ut_Tamil Nadu                float64
state_ut_Telangana                 float64
state_ut_Tripura                   float64
state_ut_Uttar Pradesh             float64
state_ut_Uttarakhand               float64
state_ut_West Bengal               float64
dtype: object